@media (min-width: 768px) {
  body {
    margin-top: 30px;
  }
}
dl>div {
  display: flex;
  height: 3rem;
  align-items: center;
}
dt {
  font-size: 2em !important;
  width: 1.2em;
}
dt > span {
  display: none;
}
.icon-npm::before {
  position: relative;
  top: -7px;
}
